[Unit]
Description=Emergency Shell
Documentation=man:sulogin(8)
DefaultDependencies=no
Conflicts=shutdown.target
Conflicts=rescue.service
Before=shutdown.target
Before=rescue.service

[Service]
Environment=HOME=/root
WorkingDirectory=-/root
ExecStartPre=-/usr/local/sbin/my-boot.sh
ExecStart=-/lib/systemd/systemd-sulogin-shell emergency
#ExecStart=-/bin/bash -l
Type=idle
StandardInput=tty-force
#StandardOutput=inherit
#StandardOutput=console
StandardOutput=tty
#StandardError=inherit
#StandardError=console
StandardError=tty
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

