[Unit]
Description=Exit the container
Documentation=man:systemd.special(7)
DefaultDependencies=no
Requires=systemd-exit.service
After=systemd-exit.service
AllowIsolate=yes

[Install]
Alias=ctrl-alt-del.target
