[Unit]
Description=Reboot via kexec
Documentation=man:systemd.special(7)
DefaultDependencies=no
Requires=systemd-kexec.service
After=systemd-kexec.service
AllowIsolate=yes

[Install]
Alias=ctrl-alt-del.target
