[Unit]
Description=Local File Systems
Documentation=man:systemd.special(7)
DefaultDependencies=no
Conflicts=shutdown.target
Requires=local-fs-pre.target setcan.target
After=local-fs-pre.target setcan.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
