[Unit]
Description=Mount microSD-card
StopWhenUnneeded=true

[Mount]
What=/dev/mmcblk0p1
Where=/mnt/sd
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target

