[Unit]
Description=Load Kernel Module %i
DefaultDependencies=no
Before=sysinit.target
Documentation=man:modprobe(8)
ConditionCapability=CAP_SYS_MODULE
ConditionPathExists=!/sys/module/%I

[Service]
Type=oneshot
ExecStart=-/sbin/modprobe -abq %I
