[Unit]
Description=Enable File System Quotas
Documentation=man:quotaon(8)
DefaultDependencies=no
After=systemd-quotacheck.service
Before=remote-fs.target shutdown.target
ConditionPathExists=/usr/sbin/quotaon

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/quotaon -aug
