[Unit]
Description=Rescue Shell
Documentation=man:sulogin(8)
DefaultDependencies=no
Conflicts=shutdown.target
After=sysinit.target
Before=shutdown.target

[Service]
Environment=HOME=/root
WorkingDirectory=-/root
#ExecStartPre=-/usr/local/sbin/my-boot.sh
ExecStart=-/lib/systemd/systemd-sulogin-shell rescue
Type=idle
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
