# This exists mostly for compatibility with SysV/LSB units, and
# implementations lacking socket/bus activation.

[Unit]
Description=RPC Port Mapper
Documentation=man:systemd.special(7)
RefuseManualStart=yes
