[Unit]
Description=Exit the Container
Documentation=man:systemd.special(7)
DefaultDependencies=no
Requires=shutdown.target umount.target final.target
After=shutdown.target umount.target final.target
SuccessAction=exit-force
