[Unit]
Description=Commit a transient machine-id on disk
Documentation=man:systemd-machine-id-commit.service(8)
DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
After=local-fs.target
ConditionPathIsReadWrite=/etc
ConditionPathIsMountPoint=/etc/machine-id

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-machine-id-setup --commit
TimeoutSec=30s
