[Unit]
Description=initctl Compatibility Named Pipe
Documentation=man:systemd-initctl.service(8)
DefaultDependencies=no
Before=sockets.target

[Socket]
ListenFIFO=/run/initctl
Symlinks=/dev/initctl
SocketMode=0600
