[Unit]
Description=File System Quota Check
Documentation=man:systemd-quotacheck.service(8)
DefaultDependencies=no
After=systemd-remount-fs.service
Before=remote-fs.target shutdown.target
ConditionPathExists=/usr/sbin/quotacheck

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/lib/systemd/systemd-quotacheck
TimeoutSec=0
