[Unit]
Description=Offline System Update
Documentation=man:systemd.offline-updates(7)
Documentation=man:systemd.special(7) man:systemd-system-update-generator(8)
Requires=sysinit.target
After=sysinit.target system-update-pre.target
AllowIsolate=yes
Wants=system-update-cleanup.service
